// Header Start
.header-choose {
  position: relative;
  background-color: #fff;
  .nav {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-start {
      display: flex;
      align-items: center;
      .logo {
        padding: 20px 0 20px 32px;
        border-bottom: 1px solid $greenBtn;
        @media (max-width: 1060px) {
          padding-left: 16px;
        }
        @media (max-width: 850px) {
          border-bottom: none;
        }
        @media (max-width: 575px) {
          padding: 16px 0 16px 16px;
        }
        a {
          display: block;
          margin-right: 78px;
          width: 154px;
          height: 40px;
          @media (max-width: 575px) {
            width: 123px;
            height: 32px;
          }
          img {
            width: 154px;
            height: 40px;
            @media (max-width: 575px) {
              width: 123px;
              height: 32px;
            }
          }
        }
      }
      .meet-information {
        position: relative;
        padding: 18px 0;
        padding-right: 72px;
        border-bottom: 1px solid $greenBtn;
        @media (max-width: 850px) {
          display: none;
        }
        .top {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.15000000596046448px;
          color: $fontColor;
        }
        .bottom {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.25px;
          color: rgba(132, 139, 152, 1);
        }
        .number {
          position: absolute;
          bottom: -12px;
          background-color: $greenBtn;
          border: 1px solid $greenBtn;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          padding-top: 1px;
          padding-right: 1px;
          display: flex;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.10000000149011612px;
          color: #fff;
        }
      }
      .questions {
        position: relative;
        padding: 18px 0;
        padding-right: 72px;
        border-bottom: 1px solid $greenBtn;
        @media (max-width: 850px) {
          display: none;
        }
        .top {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.15000000596046448px;
          color: $fontColor;
        }
        .bottom {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.25px;
          color: rgba(132, 139, 152, 1);
        }
        .number {
          position: absolute;
          bottom: -12px;
          background-color: $greenBtn;
          border: 1px solid $greenBtn;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          padding-top: 1px;
          display: flex;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.10000000149011612px;
          color: #fff;
        }
      }
      .payment {
        position: relative;
        padding: 18px 0;
        @media (max-width: 850px) {
          display: none;
        }
        .top {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: -0.15000000596046448px;
          color: $greenBtn;
        }
        .bottom {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.25px;
          color: rgba(132, 139, 152, 1);
        }
        .number {
          position: absolute;
          bottom: -12px;
          background-color: #fff;
          border: 1px solid $greenBtn;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          padding-top: 1px;
          display: flex;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: -0.10000000149011612px;
          color: $greenBtn;
        }
      }
    }
    .nav-end {
      padding: 22px 32px 22px 0;
      @media (max-width: 1060px) {
        padding-right: 16px;
      }
      @media (max-width: 575px) {
        padding: 16px 16px 16px 0;
      }
      a {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: rgba(237, 240, 244, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 575px) {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
// Header End

// Mobile Information
.mobile-information {
  padding: 16px;
  display: none;
  @media (max-width: 850px) {
    display: block;
    display: flex;
  }
  .num {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $greenBtn;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $greenBtn;
    margin-right: 12px;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .num-active {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid $greenBtn;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $greenBtn;
    background-color: #fff;
    margin-right: 8px;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .info {
    .up {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.10000000149011612px;
      color: $fontColor;
    }
    .bottom {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: rgba(132, 139, 152, 1);
    }
  }
}
// Mobile Information

// Main Start
.doctor-choose {
  padding-top: 32px;
  padding-bottom: 64px;
  @media (max-width: 768px) {
    padding-top: 16px;
  }
  @media (max-width: 575px) {
    padding-top: 0;
  }
  .container {
    .choose-in {
      display: flex;
      justify-content: center;
      .choose-carousel {
        position: relative;
        width: 560px;
        @media (max-width: 575px) {
          width: 100%;
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .choose-plan-box {
                border: 1px solid $border;
                border-radius: 8px;
                background-color: #fff;
                @media (max-width: 575px) {
                  border-radius: 0;
                  background-color: transparent;
                }
                .box-up {
                  border-bottom: 1px solid $border;
                  padding: 24px 32px;
                  @media (max-width: 575px) {
                    padding: 16px;
                    background-color: #fff;
                  }
                  .doctor {
                    display: flex;
                    align-items: center;
                    img {
                      width: 88px;
                      height: 88px;
                      margin-right: 16px;
                      @media (max-width: 575px) {
                        width: 48px;
                        height: 48px;
                      }
                    }
                    .doctor-info {
                      .work {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: -0.15000000596046448px;
                        color: rgba(132, 139, 152, 1);
                        @media (max-width: 575px) {
                          font-size: 14px;
                          font-weight: 400;
                          line-height: 20px;
                          letter-spacing: -0.10000000149011612px;
                          color: $greenBtn;
                        }
                      }
                      .name {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0px;
                        color: $fontColor;
                        @media (max-width: 575px) {
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 24px;
                          letter-spacing: -0.15000000596046448px;
                          color: #000;
                        }
                      }
                    }
                  }
                }
                .box-bottom {
                  padding: 24px 32px 32px;
                  @media (max-width: 575px) {
                    padding: 16px;
                  }
                  .title {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: -0.15000000596046448px;
                    color: $fontColor;
                    margin-bottom: 16px;
                    @media (max-width: 575px) {
                      display: none;
                    }
                  }
                  .plan-box {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                    border: 1px solid $border;
                    background-color: #fff;
                    border-radius: 8px;
                    padding: 14px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transition: all 0.4s ease-in-out;
                    &:hover {
                      background-color: #f2faf2;
                      border: 1px solid $greenBtn;
                    }
                    .left-side {
                      display: flex;
                      align-items: center;
                      input {
                        cursor: pointer;
                        appearance: none;
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;
                        border: 1px solid rgba(176, 183, 195, 1);
                        transition: 0.3s;
                        margin-right: 8px;
                        &::after {
                          content: "";
                          display: block;
                          position: absolute;
                          top: 1.8px;
                          left: 4.5px;
                          width: 4px;
                          height: 8px;
                          border: 1px solid #fff;
                          border-width: 0 3px 3px 0;
                          transform: rotate(40deg);
                        }
                      }
                      input:checked {
                        cursor: pointer;
                        appearance: none;
                        background-color: rgba(76, 177, 71, 1);
                        width: 16px;
                        height: 16px;
                        border: none;
                        border-radius: 100%;
                        transform: translateY(-0);
                        margin-right: 8px;
                      }
                      p {
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.10000000149011612px;
                        color: $listItemColor;
                        @media (max-width: 575px) {
                          font-weight: 400;
                        }
                      }
                    }
                    .right-side {
                      display: flex;
                      align-items: center;
                      .currency {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: uppercase;
                        letter-spacing: -0.5px;
                        color: rgba(132, 139, 152, 1);
                        margin-right: 4px;
                        @media (max-width: 575px) {
                          font-size: 12px;
                          font-weight: 400;
                          line-height: 16px;
                        }
                      }
                      .number {
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: -0.15000000596046448px;
                        color: $listItemColor;
                        @media (max-width: 575px) {
                          font-size: 16px;
                          font-weight: 500;
                          line-height: 24px;
                          letter-spacing: -0.15000000596046448px;
                        }
                      }
                    }
                  }
                  .continue-btn {
                    margin-top: 16px;
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    color: #fff;
                    text-align: center;
                    padding: 10px 0;
                    background-color: $greenBtn;
                    border-radius: 8px;
                  }
                }
              }
            }
          }
        }
        .swiper-pagination {
          display: none;
          position: absolute;
          bottom: -30px;
          @media (max-width: 700px) {
            display: block;
          }
          span {
            background-color: $greenBtn;
          }
        }
        .swiper-button-prev {
          position: absolute;
          top: 22px;
          left: -48px;
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 8px;
          border: 1px solid $border;
          transition: all 0.3s ease-in-out;
          @media (max-width: 700px) {
            display: none;
          }
          &::after {
            transition: all 0.3s ease-in-out;
            font-size: 12px;
            font-weight: 900;
            color: rgba(176, 183, 195, 1);
          }
          &:hover {
            &::after {
              color: #000;
            }
          }
        }
        .swiper-button-next {
          position: absolute;
          top: 22px;
          right: -48px;
          width: 40px;
          height: 40px;
          background-color: #fff;
          border-radius: 8px;
          border: 1px solid $border;
          transition: all 0.3s ease-in-out;
          @media (max-width: 700px) {
            display: none;
          }
          &::after {
            transition: all 0.3s ease-in-out;
            font-size: 12px;
            font-weight: 900;
            color: rgba(176, 183, 195, 1);
          }
          &:hover {
            &::after {
              color: #000;
            }
          }
        }
      }
    }
  }
}
// Main End
