// Header Start
.header-summary {
  position: relative;
  background-color: #fff;
  .nav {
    padding: 20px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-start {
      display: flex;
      align-items: center;
      .logo {
        a {
          display: block;
          margin-right: 78px;
          width: 154px;
          height: 40px;
        }
      }
    }
    .nav-end {
      a {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: rgba(237, 240, 244, 1);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
// Header End

// Main Start
.summary-section {
  padding: 32px 0;
  .container {
    .summary-row {
      display: flex;
      justify-content: center;
      .row-in {
        display: flex;
        align-items: center;
        flex-direction: column;
        .summary-box {
          border: 1px solid $border;
          border-radius: 8px;
          background-color: #fff;
          .box-up {
            border-bottom: 1px solid $border;
            padding: 24px 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .doctor {
              display: flex;
              align-items: center;
              img {
                width: 88px;
                height: 88px;
                margin-right: 16px;
              }
              .doctor-info {
                .work {
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 28px;
                  letter-spacing: -0.15000000596046448px;
                  color: rgba(132, 139, 152, 1);
                }
                .name {
                  display: flex;
                  align-items: center;
                  font-size: 24px;
                  font-weight: 400;
                  line-height: 32px;
                  letter-spacing: 0px;
                  color: $fontColor;
                  img {
                    margin-left: 8px;
                    width: 19px;
                    height: 19px;
                  }
                }
              }
            }
            .edit-btn {
              padding-left: 85px;
              a {
                border-radius: 7px;
                background-color: $border;
                padding: 5px 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -0.10000000149011612px;
                color: $listItemColor;
              }
            }
          }
          .box-bottom {
            padding: 32px;
            .mini-map {
              width: 100%;
              border: 1px solid $border;
              border-radius: 8px;
              background-color: #fbfbfc;
              margin-bottom: 8px;
              display: flex;
              flex-direction: column;
              overflow: hidden;
              .location {
                cursor: pointer;
                padding: 16px 24px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid $border;
                img {
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;
                }
                .text {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: -0.15000000596046448px;
                  color: $listItemColor;
                }
              }
              .big-map {
                width: 100%;
                height: 296px;
                iframe {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .date {
              width: 100%;
              border: 1px solid $border;
              border-radius: 8px;
              background-color: #fbfbfc;
              margin-bottom: 8px;
              display: flex;
              .calendar {
                cursor: pointer;
                width: 50%;
                padding: 16px 24px;
                border-right: 1px solid $border;
                display: flex;
                align-items: center;
                img {
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;
                }
                .text {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: -0.15000000596046448px;
                  color: $listItemColor;
                }
              }
              .hour {
                cursor: pointer;
                width: 50%;
                padding: 16px 24px;
                display: flex;
                align-items: center;
                img {
                  width: 24px;
                  height: 24px;
                  margin-right: 8px;
                }
                .text {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: -0.15000000596046448px;
                  color: $listItemColor;
                }
              }
            }
            .ill {
              cursor: pointer;
              width: 100%;
              border: 1px solid $border;
              border-radius: 8px;
              background-color: #fbfbfc;
              padding: 16px 24px;
              margin-bottom: 8px;
              .text {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.15000000596046448px;
                color: $listItemColor;
              }
            }
            .time {
              cursor: pointer;
              width: 100%;
              border: 1px solid $border;
              border-radius: 8px;
              background-color: #fbfbfc;
              padding: 16px 24px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 16px;
              .minute {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.15000000596046448px;
                color: $listItemColor;
              }
              .total {
                display: flex;
                align-items: center;
                .currency {
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 24px;
                  text-transform: uppercase;
                  letter-spacing: -0.5px;
                  color: rgba(132, 139, 152, 1);
                  margin-right: 4px;
                }
                .number {
                  font-size: 20px;
                  font-weight: 400;
                  line-height: 28px;
                  letter-spacing: -0.15000000596046448px;
                  color: $listItemColor;
                }
              }
            }
            .start-meet-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 8px;
              padding: 12px 0;
              background-color: $greenBtn;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: -0.15000000596046448px;
              color: #fff;
            }
          }
        }
        .info-contact {
          padding: 24px 0;
          text-align: center;
          width: 60%;
          .text {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: $listItemColor;
          }
          a {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: $greenBtn;
          }
        }
        .social {
          padding-bottom: 32px;
          display: flex;
          align-items: center;
          .social-link {
            display: block;
            text-align: center;
            margin: 0 8px;
            width: 40px;
            height: 40px;
            padding: 9px 8px;
            border: 1px solid $border;
            border-radius: 100%;
            background-color: #fff;
            transition: all 0.4s ease-in-out;
            &:hover {
              background-color: $greenBtn;
              border: 1px solid $greenBtn;
              i {
                color: #fff;
              }
            }
            i {
              transition: all 0.4s ease-in-out;
              font-size: 16px;
              color: rgba(132, 139, 152, 1);
            }
          }
        }
      }
    }
  }
}
// Main End
