// Header Start
header {
  background-color: #fff;
  border-bottom: 1px solid $border;
  .nav {
    padding: 16px 0;
    @media (max-width: 575px) {
      padding: 12px 0;
    }
    .container {
      // @media (max-width: 1000px) {
      //   width: auto;
      // }
      .nav-center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1180px) {
          padding: 0 16px;
        }
        .nav-start {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
          .bars {
            cursor: pointer;
          }
          .logo {
            margin-top: 4px;
            img {
              @media (max-width: 575px) {
                width: 121px;
                height: 32px;
              }
            }
          }
        }
        .nav-end {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          .language-box {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border;
            border-radius: 8px;
            padding: 10px 12px;
            gap: 6px;
            span {
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              color: $fontColor;
              text-transform: uppercase;
            }
            .lang-icon {
              margin-top: 1px;
            }
            @media (max-width: 768px) {
              display: none;
            }
          }
          .login-btn {
            border: 1px solid $border;
            padding: 10px 24px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: $fontColor;
            border-radius: 8px;
            @media (max-width: 768px) {
              display: none;
            }
          }
          .register-btn {
            padding: 10px 24px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            color: #fff;
            background-color: $greenBtn;
            border-radius: 8px;
            @media (max-width: 575px) {
              font-size: 12px;
              line-height: 16px;
              padding: 8px 16px;
            }
          }
        }
      }
    }
  }
}
// Header End
